<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}
  <head>
    <link rel="icon" href="https://i.imgur.com/hi7bsWN.png">
    <title>Ardazon</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Ardazon</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
	  {% if user.is_authenticated %}
	  <li class="nav-item">
	    <a class="nav-link" href="/logout">Logout</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/profile">{{ user.username }}'s Profile</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/cart_page"> Cart( {{ cart_num}} )</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/list_orders"> Orders </a>
	  </li>

	  {% else %}
	   <li class="nav-item">
	    <a class="nav-link" href="/login">Login</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/register">Register</a>
	  </li>
	  {% endif %}
	</ul>
      </div>
    </nav>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}" role="alert">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
